* {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    background-color: rgba(208, 224, 137, 0.07);
}

video {
    /* full screen video in App */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    /* --- video in pages only -> between header and footer: */

    /* position: fixed;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
    
    opacity: 0.8;
    z-index: -10;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(124, 191, 245, 0.21);
}

nav {
    display: grid;
    grid-template-columns: 90% 10%;
}

.login {
    text-align: right;

}

.login button:hover {
    cursor: pointer;
    background-color: rgba(199, 2, 2, 0.47);
}

.formlog input {
    width: 65px;
}
.noline {
    color: rgb(88, 88, 88, 0.9);
    text-decoration-line: none;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.noline span:hover {
    color: rgba(199, 2, 2, 0.63);
}

.home-wrap,
.about-wrap,
.learn-wrap {
    color: rgb(92, 92, 92);
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-wrap,
.about-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-wrap div {
    padding: 60px;
}

.learn-wrap {
    background-color: rgba(199, 30, 30, 0.55);
    display: grid;
    grid-template-rows: 30% 70%;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.contain {
    text-align: center;
    overflow: scroll;
    padding-top: 15px;
    padding-left: 28px;
    padding-right: 28px;
}

.nolineThree {
    text-decoration-line: none;
    color: rgb(88, 88, 88, 0.9);
}

.singleItem {
    font-size: 0.4em;
    font-weight: bold;
    line-height: 50px;
}

p {
    line-height: 20px;
    text-align: left;
    width: auto;
}

img {
    border-radius: 25%;
    width: 260px;
    height: 146.3px;
}

.singleItem .fa {
    font-size: 1.7em;
    font-weight: normal;
}

.singleItem button {
    padding: 1px;
}

.singleItem .fa:hover {
    font-size: 2em;
    cursor: pointer;
    color: rgba(199, 2, 2, 0.63);
}

.nolineThree p:hover {
    text-decoration-line: underline;
}

.nolineThree img:hover {
    border-radius: 35%;
    opacity: 0.5;
}

.buttons button {
    background-color: rgba(218, 238, 253, 0.95);
    border-radius: 45%;
    width: 86px;
    height: 36px;
    font-weight: bold;
    text-align: center;
    font-size: .335em;
}

.buttons button:hover {
    background-color: rgba(137, 195, 240, 0.95);
    width: 95px;
    height: 41px;
    cursor: pointer;
}

.nolineTwo {
    text-decoration-line: none;
    width: 86px;
    height: 36px;
    color: rgb(88, 88, 88, 0.9);
}

.searches {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.searches div {
    padding-bottom: 22px;
    padding-right: 5px;
}

.searches input {
    text-align: center;
    width: 90px;
    height: 30px;
}

::placeholder {
    color: rgba(199, 30, 30);
    font-weight: bold;
    opacity: .35;
}

/* Internet Explorer 10-11 */

:-ms-input-placeholder {
    color: rgba(199, 30, 30, .35);
    font-weight: bold;
}

/* Microsoft Edge */

::-ms-input-placeholder {
    color: rgba(199, 30, 30., .35);
    font-weight: bold;
}

.you {
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h4,
h5 {
    font-size: 0.35em;
    text-align: left;
}

h5 {
    line-height: 70px;
}

h4 {
    line-height: 30px;
}

h3 {
    font-size: 0.45em;
    text-align: left;
    line-height: 60px;
    letter-spacing: 2px;
    font-style: italic;
}

h2 {
    text-align: left;
    font-size: 0.5em;
}

h1 {
    text-align: center;
    font-size: 0.9em;
    padding-left: 15px;
}

.fa {
    color: rgba(88, 88, 88, 0.9);
    font-size: 2.2em;
    text-decoration-line: none;
}

.fa:hover {
    color: rgba(199, 2, 2, 0.63);
}

@media (max-width: 320px) {
    .noline {
        padding-left: 2px;
        padding-right: 2px;
        font-size: 1em;
    }
    .about-wrap div {
        padding: 30px;
    }
    .home-wrap div,
        {
        padding: 50px;
    }

    h2 {
        font-size: 0.4em;
    }
    h1 {
        text-align: center;
        font-size: 0.7em;
    }
    .buttons button {
        width: 70px;
        height: 32px;
        font-size: .25em;
    }
    .buttons button:hover {
        width: 73px;
        height: 34px;
    }
    .nolineTwo {
        width: 70px;
        height: 32px;
    }
    .searches input {
        width: 75px;
        height: 25px;
    }
}

@media (min-width: 560px) {
    .learn-wrap {
        grid-template-rows: 15% 85%;
    }
    .buttons {
        flex-direction: row;
    }
    .fa:hover {
        font-size: 2.3em;
    }
}

@media (min-width: 750px) {
    .contain {
        padding: 15px;
    }
    .noline {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.3em;
    }
    p {
        text-align: center;
    }
    .fa {
        font-size: 2.3em;
    }
    h2 {
        font-size: .6em;
    }
    h1 {
        text-align: center;
        font-size: 1em;
        padding-left: 25px;
    }
}

@media (min-width: 1015px) {
    .noline {
        padding-left: 60px;
        padding-right: 60px;
        font-size: 1.7em;
    }
    .fa {
        font-size: 3.6em;
    }
    .fa:hover {
        font-size: 3.9em;
    }
    .about-wrap div {
        padding: 150px;
    }
    .home-wrap div,
        {
        padding: 180px;
    }
    .contain {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .singleItem {
        font-size: 0.45em;
        padding-left: 30px;
        padding-right: 30px;
        line-height: 80px;
    }
    p {
        line-height: 28px;
        text-align: left;
    }
    h4,
    h5 {
        font-size: 0.6em;
    }
    h5 {
        line-height: 90px;
    }
    h4 {
        line-height: 40px;
    }
    h3 {
        font-size: 0.7em;
    }
    h2 {
        font-size: 1em;
    }
    h1 {
        font-size: 1.5em;
        padding-left: 40px;
    }
}

@media (min-width: 1350px) {
    .contain {
        padding: 25px;
    }
    .noline {
        padding-left: 90px;
        padding-right: 90px;
    }
    .about-wrap div {
        padding: 170px;
    }
    .home-wrap div,
        {
        padding: 210px;
    }
    .contain {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 25%);
    }
    p {
        line-height: 22px;
        height: 90px;
    }
    h2 {
        line-height: 50px;
        font-size: 1.1em;
    }
    h1 {
        line-height: 150px;
        font-size: 1.7em;
        padding-left: 60px;
    }
}

@media (min-width: 2000px) {
    .contain {
        padding: 30px;
    }
    .noline {
        padding-left: 140px;
        padding-right: 140px;
        font-size: 2em;
    }
    .about-wrap div {
        padding: 300px;
    }
    .home-wrap div,
        {
        padding: 400px;
    }
    .contain {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(5, 20%);
    }
    p {
        line-height: 22px;
        height: 95px;
    }
    .fa {
        font-size: 4.3em;
    }
    .fa:hover {
        font-size: 4.6em;
    }
    h2 {
        font-size: 1.3em;
    }
    h1 {
        line-height: 250px;
        font-size: 2.2em;
        padding-left: 100px;
    }
}

@media (min-width: 2800px) {
    .about-wrap div {
        padding: 400px;
    }
    .home-wrap div,
        {
        padding: 530px;
    }
    p {
        text-align: center;
    }
    h3 {
        line-height: 120px;
    }
}